{% macro article_tags(article, pages, SITEURL, tags_to_ignore=[]) -%}
  {% if article.tags %}
    <p class="tags">
      {% for tag in article.tags if not tag in tags_to_ignore %}
        {% for page in pages if page.grouptag == tag %}
          <a href="{{ SITEURL }}/{{ page.url }}">#{{ tag }}</a>
        {% else %}
          <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
        {% endfor %}
        {% if not loop.last%}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}
{%- endmacro %}